<div class = "container list-container">
  <div class = "list-nav">
    <% if @list.photo %>
      <%= cl_image_tag @list.photo.key, height: 300, width: 400, class: "top-image", crop: :fill %>
    <% else %>
      <%= puts "no pic to show" %>
      <!-- Add a placeholder image or handle the case where photo is nil -->
    <% end %>
    <h2 class = "list-name"><%= @list.name %> </h2>
  </div>
  <div class="bookmark-section">
    <div class="add-button">
      <%= link_to "add a movie", new_list_bookmark_path(@list) %>
    </div>
    <% @movies["results"].each do |movie| %>
      <div class="bookmark-contianer">
        <div class="movie-cards">
          <div class ="movie-poster">
            <%= image_tag "https://image.tmdb.org/t/p/w500#{movie["poster_path"]}", crop: :fill, class: "avatar-bordered-follow", style: "width: 100px; height: 200px;" %>
          </div>
          <div class="movie-description">
            <h1><%= movie["original_title"] %></h1>
            <% (1..10).each do |i| %>
              <% if i <= movie["vote_average"] %>
                <i class="fa fa-star" aria-hidden="true"></i>
              <% end %>
            <% end %>
            <h3 class = "overview"><%= movie["overview"] %></h3>

          </div>
        </div>
      <% end %>
    </div>
    <div class = "link">
      <%= link_to "<< lists", lists_path %>
    </div>
  </div>
</div>
