<div class = "container list-container">
  <div class = "list-nav">
    <% if @list.photo %>
      <%= cl_image_tag @list.photo.key, class: "top-image" %>
    <% else %>
      <%= puts "no pic to show" %>
      <!-- Add a placeholder image or handle the case where photo is nil -->
    <% end %>
    <h2 class = "list-name"><%= @list.name %> </h2>
  </div>
  <div class="bookmark-section">
    <div class="add-button">
      <%= link_to "add a movie", new_list_bookmark_path(@list) %>
    </div>
    <% @bookmarks.each do |bookmark| %>
      <div class="bookmark-contianer">
        <div class="movie-cards">
          <div class ="movie-poster">
            <%= image_tag bookmark.movie.poster_url, crop: :fill, class: "poster-size" %>
          </div>
          <div class="movie-description">
            <h1><%= bookmark.movie.title %></h1>
              <%= bookmark.movie.rating.round(1) unless bookmark.movie.rating.nil? %>
                <i class="fa fa-star" aria-hidden="true"></i>
            <h3 class = "overview"><%= bookmark.movie.overview%></h3>
            <p class = "bookmark"> <i class="fa-solid fa-quote-left"></i><%= bookmark.comment%><i class="fa-solid fa-quote-right"></i> <%= button_to "Delete", bookmark, data: { turbo_method: :get, turbo_confirm: 'Are you sure?' }, method: :delete, class: "delete-button" %></p>
          </div>
        </div>
      <% end %>
    </div>
    <div class = "link">
      <%= link_to "<< lists", lists_path %>
    </div>
  </div>
</div>
