<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>
  <body>
    <%= yield %>
    <div class="modal fade" id="turbo-confirm-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body" id="turbo-confirm-modal-message"></div>
          <div class="modal-footer">
            <button class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
            <button class="btn btn-primary" id="turbo-confirm-modal-confirm-button">OK</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
